@import "./typography.scss";

:root {
  // COLORS
  --darkBlue: #0c0638;
  --withe: #ffffff;
  --orange: #fe4819;
  --ligthBlue: #bce0fd;
  --darkBlueV2: #0095da;
  --gray: #f5f5f5;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $body-text-size;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  color: var(--orange);
  font-weight: bold;
}

@media only screen and (max-width: 575px) {
  .container,
  .container-fluid {
    width: 90% !important;
  }
}

// NAV
.navbar {
  background-color: var(--darkBlue) !important;
  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }
  .nav-link {
    color: var(--gray) !important;
    font-size: 14px;

    &:hover {
      color: var(--orange) !important;
    }
  }
}

// SUPER HEADER
#superHeader {
  background-image: url(../../img/banner-home.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;

  @media only screen and(min-width:991px) {
    .container {
      margin-top: 20rem;
    }
  }

  .container {
    margin-top: 10rem;
  }
}

// CARDS
.splideCard {
  color: var(--darkBlue);
  box-shadow: 1px 2px 15px rgba(117, 117, 117, 0.432);
}

#mainSlider {
  margin: auto;
  max-width: 1500px;
  margin-top: -20rem;

  @media only screen and(max-width:768px) {
    margin-top: -15rem;
  }
}

// ABOUT
#about {
  h2,
  p {
    color: var(--darkBlue) !important;
  }
}

// STORY
#story {
  z-index: -1;
  background-color: var(--darkBlue) !important;

  p {
    color: var(--gray);
  }

  h2 {
    color: var(--orange) !important;
  }

  @media only screen and(min-width:1200px) {
    height: 1000px;
  }
}

// ACHIEVEMENTS
#achievements {
  background-image: url(../../img/imagem-fundo-trofeu.png);
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--gray);

  .splide__slide > div {
    background-color: var(--darkBlue) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 290px;
    min-height: 200px;
  }
}

// TEAM
#team {
  min-height: 100vh;
  background-color: var(--gray);

  h2 {
    color: var(--orange);
  }

  .splide__slide > div {
    box-shadow: 1px 2px 10px 5px rgba(136, 136, 136, 0.212);
    max-width: 350px;
    color: var(--darkBlue);
  }

  .splide__slide > div > img {
    filter: drop-shadow(1px 2px 4px rgb(61, 61, 61));
  }

  #teamSlider {
    max-width: 1400px;
  }
}

// CLOUND4MOBILE
#clound4mobile {
  color: var(--darkBlue);

  button {
    background-color: var(--darkBlue);
  }

  h3 {
    color: var(--orange);
    font-weight: bold;
  }

  ul {
    background-color: var(--darkBlue);
  }

  @media only screen and (min-width: 1200px) {
    .position {
      position: absolute;
      max-width: 380px;
    }
  }

  @media only screen and (max-width: 1400px) {
    .position {
      right: -60px !important;
    }
  }
}

// CONTACT
#contact {
  background-color: var(--darkBlue);

  button {
    background-color: var(--orange);
  }
}

// FOOTER
footer {
  a,
  p {
    color: var(--darkBlue);
  }

  a:hover {
    color: var(--orange);
  }
}
