@import "./index.scss";
@import "./typography.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: $body-text-size;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}
