@import url("https://use.typekit.net/glf7rom.css");

// FONT SIZE
$body-text-size: 1.6rem;
$medium-text-size: 2.4rem;
$title-text-size: 3.6rem;
$cardTitle-text-size: 2.4rem;

body,
button,
nav,
a {
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-size: $title-text-size;
  font-family: exo-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ralewayBold {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.exoBold {
  font-family: exo-soft, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.exoLigth {
  font-family: exo-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
}
